@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;



body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}

h3 {
    font-size: 24px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/back2.png);
    background-repeat: no-repeat ;
    background-size: cover;
    color: $light-color;
    padding-bottom: 163px;
    
}

.page {
    padding-top: 161px;
    padding-bottom: 160px;
    &_gray {
    background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }
    &__subtitle {
        color: $accent-color;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.9px;
    }
}

.page {
   &__title {
       
       text-align: center;
       font-size: 48px;
        
    }
    &__subtitle {
        margin-bottom: 91px;
        text-align: center;
        font-size: 18px;
        color: $accent-color;
    }
    &__btn {
        margin-left: 465px;
        background: linear-gradient(to top left, #65e49c, #65e4b0);
        color: $light-color;
        text-decoration: none;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 48px;
        padding: 11px 45px 11px 45px;
        letter-spacing: 0.7px; 
        box-shadow: 0 -2px #adedbb inset;  
     
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 166px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active{
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px; 
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &--width {
        flex-basis: calc(93% - 520px);
    }
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 0.85px;
        margin-bottom: 43px;
        margin-left: 4px;
        margin-top: 1px;

    }
    &__name_top {
        margin-top: 16px;
        margin-left: 0;
    }
    &__title {
        font-size: 48px;
        font-weight: 700px;
        letter-spacing: 1.8px;
        margin-bottom: 40px;

        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            padding-top: 23px;
            letter-spacing: 0.9px;
            margin-left: 3px;
             }
         }
         &__description {
            font-family: 'Open Sans', serif;
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 24px;
            letter-spacing: 0.75px;
        }
        &__btn {
            display: block;
            background: linear-gradient(to top left, #65e49c, #65e4b0);
            color: $light-color;
            text-decoration: none;
            max-width: 250px;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 48px;
            padding: 14px 0 15px 0;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            box-shadow: 0 -2px #adedbb inset;  
        }  
            &__btn--main {
                box-shadow: 0 -2px #58b988 inset;  
            }
          
        small {
            font-style: italic; 
            font-size: 12px;
            letter-spacing: 0.1px;
        }
        &-item {
            margin-bottom: 55px;
            &__date {
                font-size: 15px;
                font-family: 'Open Sans', serif;
                letter-spacing: 0.8px;
                margin-bottom: 4px;
            }
            &__title {
                font-size: 18px;
                letter-spacing: 0.9px;
                margin-bottom: 16px;
            }
            &__desc {
                font-size: 15px;
                font-family: 'Open Sans', serif;
                letter-spacing: 0.75px;
            }
            &__btn {
                display: block;
                background: linear-gradient(to top left, #65e49c, #65e4b0);
                color: $light-color;
                text-decoration: none;
                max-width: 137px;
                border-radius: 3px;
                text-align: center;
                font-size: 18px;
                margin-top: 24px;
                padding: 14px 0 15px 0;
                letter-spacing: 0.7px;
                margin-bottom: 19px;
                box-shadow: 0 -2px #adedbb inset;  
            } 
        }
    }  

.block-book {
    display: flex;
    justify-content: space-between;
    &-demo {
        display: block;
        position: relative;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);  
        background-repeat: no-repeat;
       flex-basis: 447px;
       &__title {
           text-transform: uppercase;
           font-size: 36px;
           letter-spacing: 1.4px;
           position: absolute;
           left: 131px;
           top: 118px;
           span {   
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            display: block;
            text-transform: initial;
            margin-top: 10px;
            letter-spacing: 0.7px;
           }
       }
       &__autor {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            letter-spacing: 0.7px;
            bottom: 52px;
            left: 87px;
       }
    }
    small {
        font-family: 'Open Sans', sans-serif;
    }
}

.block-author {
    display: flex;
    justify-content: space-between;
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__svg--left {
        right: inherit;
        left: 0;
    }
    &__img {
        margin-top: 47px;
        margin-right: 44px;
    }
    &__img--left {
        margin-top: 49px;
        margin-left: 51px;
        margin-right: 0;
    }
    
}

.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 152px;
    p {
        font-family: 'Open Sans', serif;
        font-size: 18px; 
        span {
            font-family: 'Roboto Slab', serif; 
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            text-align: center;
            margin-bottom: 45px;
        } 
    }
}

.block-about {
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    h3 {
        margin-bottom: 20px;
    }
    &-text {
        flex-basis: 41%;
        &__desc {
            font-family: 'Open Sans', serif;
            letter-spacing: 0.6px;  
        }
    }

    &-table {     
        flex-basis: 49%;
        &__btn {
            border: none;
            background: linear-gradient(to top left, #65e49c, #65e4b0);
            color: $light-color;
            text-decoration: none;
            border-radius: 3px;
            text-align: center;
            font-size: 18px;
            margin-top: 28px;
            padding: 14px 45px;
            letter-spacing: 0.7px;
            margin-bottom: 19px;
            box-shadow: 0 -2px #adedbb inset;
        }
            
        }
        &__list {
            font-family: 'Open Sans', serif;
            margin: 25px 0 0 0;
            padding: 0;
            counter-reset: list;
            column-count: 2;
            &>li {
                position: relative;
                padding-left: 36px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                letter-spacing: 0.7px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    position: absolute;
                    left: 0;
                    font-family: 'Open Sans', serif;  
                    font-size: 15px;
                    line-height: 22px;
                    top: 1px;
                    background-color: #5fc9b6;
                    color: $light-color;
                    padding: 0px 7px;
                }
                
            }
            
        }


    &-social {
        display: flex;
        align-items: center;
        margin-top: 14px;
        &__title {
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            font-weight: 700;
        }
        &__list {
            list-style-type: none;
            padding-left: 23px;
            &>li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px;
                font-size: 18px;
                &>a {
                    color: $accent-color;
                }
            }
        }
    }
}


.block-books {  
    display: flex;
    justify-content: space-between ;
    &-demo {
            display: block;
            background-image: url(../img/bookimg.svg);
            background-repeat: no-repeat;
            width: 269px;
            height: 408px;
            margin-bottom: 37px;
            margin-left: 69px;
            position: relative;
            
            &__title {
                text-transform: uppercase;
                color: $bg-light-color;
                font-family: 'Roboto Slab', serif;
                font-size: 24px;
                padding-left: 76px;
                padding-top: 75px;
            }
            span {
                font-family: 'Open Sans', serif;
                display: block;
                color: $accent-color;
                font-size: 12px;
                text-transform: initial;
                text-align: center;
                margin-right: 46px;
            }
            &__author{
                font-family: 'Open Sans', serif;
                color: $accent-color;
                font-size: 12px;
                position: absolute;
                bottom: 20px;
                left: 81px;
            }
    }
    &-text {
        text-align: center;
        font-family: 'Open Sans', serif;
        padding-bottom: 100px;
        font-size: 15px;
        letter-spacing: 0.8px;
        padding-left: 20px;
        h3 {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 23px;
            font-size: 24px;
        }
        a {
            text-decoration: none;
            color: $accent-color;
        }
    }
}